window#waybar {
  background-color: #1a1b26;
  font-family: Iosevka Nerd Font;
  color: #f1f1f1;
  font-size: 17px;
  padding-right: 20px;
}

#custom-separator {
  color: #f38ba8;
  font-size: 23px;
  margin-left: 6px;
  margin-right: 6px;
}

#custom-launcher {
  color: #7aa2f7;
  margin-left: 10px;
  margin-right: 10px;
}

#workspaces button {
  color: #f4d9e1;

  font-weight: bold;
  font-style: normal;
}

#clock {
  margin-right: 10px;
}
