configuration {
    display-ssh: "SSH";
    display-run: "Run";
    display-drun: " ";
    display-window: "Window";
    display-combi: "Combi";
    show-icons: false;
    font: "Victor Mono NF Italic 12";
}

@theme "~/.config/rofi/style.rasi"
