* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, "JetBrainsMono NF";
    font-size: 14px;
  letter-spacing: 0.9px;
  font-weight: 400;
}

window#waybar {
    background-color: #1b1e29;
    border-bottom: 3px solid #2c3039;
  /* background: transparent; */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    padding: 5px 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* window#waybar.termite { */
/*     background-color: #3F3F3F; */
/* } */
/**/
/* window#waybar.chromium { */
/*     background-color: #000000; */
/*     border: none; */
/* } */

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces {
  padding: 0 2px;
  margin: 10px 0;
  border-top-right-radius: 10px;
  background: #2a2e37; 
}

#workspaces button {
  margin: 10px 2px;
    padding: 0 7px;
  border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
  /* transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68); */
  transition: 0.4s ease-in;
}

#workspaces button:hover {
  background: white;
  color: black;
}

#workspaces button.focused {
  color: black;
  background-size: 400% 400%;
    /* background: linear-gradient(90deg, #df6b77, #c778da); */
  background: linear-gradient(-140deg, #8ba5c8, #a4bcd4, #c778da);
  /* background: radial-gradient( */
  /*   circle, */
  /*   rgba(203, 166, 247, 1) 0%, */
  /*   rgba(193, 168, 247, 1) 12%, */
  /*   rgba(249, 226, 175, 1) 19%, */
  /*   rgba(189, 169, 247, 1) 20%, */
  /*   rgba(182, 171, 247, 1) 24%, */
  /*   rgba(198, 255, 194, 1) 36%, */
  /*   rgba(177, 172, 247, 1) 37%, */
  /*   rgba(170, 173, 248, 1) 48%, */
  /*   rgba(255, 255, 255, 1) 52%, */
  /*   rgba(166, 174, 248, 1) 52%, */
  /*   rgba(160, 175, 248, 1) 59%, */
  /*   rgba(148, 226, 213, 1) 66%, */
  /*   rgba(155, 176, 248, 1) 67%, */
  /*   rgba(152, 177, 248, 1) 68%, */
  /*   rgba(205, 214, 244, 1) 77%, */
  /*   rgba(148, 178, 249, 1) 78%, */
  /*   rgba(144, 179, 250, 1) 82%, */
  /*   rgba(180, 190, 254, 1) 83%, */
  /*   rgba(141, 179, 250, 1) 90%, */
  /*   rgba(137, 180, 250, 1) 100% */
  /* ); */
  /* background-size: 400% 400%; */
  animation: gradient_f 20s ease-in-out infinite;
  /* transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682); */
  transition: 0.5s ease-out;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    font-style: normal;
    /* border-bottom: 3px solid #ffffff; */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-dynamic_pill,
#mpd {
  margin: 7px 1px;
  /* margin-top: 7px; */
  /* margin-bottom: 10px; */
    border-radius: 13px;
    padding: 4px 14px;
    color: black;
}

#custom-dynamic_pill {
  font-size: 12px;
  color: white;
  background: #2a2e37;
}

#window {
  font-size: 12px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* .modules-left { */
/*   margin-left: 7px; */
/* } */

.modules-right {
  margin-right: 7px;
}

#clock {
  background: linear-gradient(90deg, #dc6d76, #66aceb) 
}

#battery {
    background: linear-gradient(90deg, #55b2be, #dc6d76);
}

/* #battery.charging, #battery.plugged { */
/*     color: #ffffff; */
/*     background-color: #26A65B; */
/* } */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background: linear-gradient(90deg, #97c27c, #c57bd9);
}

#network {
    background: linear-gradient(90deg, #c57bd9, #55b2be);
}

/* #network.disconnected { */
/*     background-color: #f53c3c; */
/* } */

#pulseaudio {
    background: linear-gradient(90deg, #63afec, #97c27c);
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
