@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}

* {
  font-family: "Iosevka NF";
  font-size: 13px;
}

window#waybar {
  background: transparent;
  margin: 0;
  padding: 0;
}

#workspaces {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
  margin-bottom: 12px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #1a1b26;
  border-radius: 10px;
  border-bottom-width: 3px;
  border-bottom-color: #3c3d52;
  border-bottom-style: solid;
}
#workspaces button {
  padding: 0 5px;
}

#workspaces button.active {
  color: gray;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-expand,
#custom-cycle_wall,
#custom-ss,
#custom-music,
#custom-playerctl {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #1a1b26;
  border-radius: 10px;
  border-bottom-width: 3px;
  border-bottom-color: #3c3d52;
  border-bottom-style: solid;
}

#custom-music {
}

#custom-ss {
}

#clock {
}

#battery.charging,
#battery.plugged {
}

#battery {
}

#battery.critical:not(.charging) {
}

#cpu {
  background: radial-gradient(
    circle,
    rgba(200, 200, 200, 1) 0%,
    rgba(190, 190, 190, 1) 6%,
    rgba(180, 180, 180, 1) 14%,
    rgba(170, 170, 170, 1) 14%,
    rgba(160, 160, 160, 1) 18%,
    rgba(150, 150, 150, 1) 28%,
    rgba(140, 140, 140, 1) 28%,
    rgba(130, 130, 130, 1) 58%,
    rgba(120, 120, 120, 1) 69%,
    rgba(110, 110, 110, 1) 69%,
    rgba(100, 100, 100, 1) 72%,
    rgba(90, 90, 90, 1) 73%,
    rgba(80, 80, 80, 1) 78%,
    rgba(70, 70, 70, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient_f 20s ease-in-out infinite;
}

#memory {
}

#backlight {
}

#network {
}

#network.disabled {
}

#network.disconnected {
}

#network.linked,
#network.wifi {
}

#network.ethernet {
}

#pulseaudio {
}

#pulseaudio.muted {
}
#temperature {
}

#temperature.critical {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}

#custom-playerctl {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}
