* {
  font-family: "Iosevka NF";
  font-size: 13px;
}

window#waybar {
  background: transparent;
  margin: 0;
  padding: 0;
}

#workspaces {
}
#workspaces button {
}

#workspaces button.active {
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-expand,
#custom-cycle_wall,
#custom-ss,
#custom-dynamic_pill,
#custom-playerctl {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 7px;
  margin-bottom: 12px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #1a1b26;
  border-radius: 10px;
  border-bottom-width: 3px;
  border-bottom-color: #3c3d52;
  border-bottom-style: solid;
}

#custom-dynamic_pill.low {
}
#custom-dynamic_pill.normal {
}
#custom-dynamic_pill.critical {
}

#custom-dynamic_pill.playing {
}
#custom-dynamic_pill.paused {
}

#custom-ss {
}

#clock {
}

#battery.charging,
#battery.plugged {
}

#battery {
}

#battery.critical:not(.charging) {
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disabled {
}

#network.disconnected {
}

#network.linked,
#network.wifi {
}

#network.ethernet {
}

#pulseaudio {
}

#pulseaudio.muted {
}
#temperature {
}

#temperature.critical {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}

#custom-playerctl {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}
