* {
  font-family: "CozetteVector";
}

window#waybar {
  background: #191724;
  margin: 0;
  padding: 0;
}

#workspaces {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
  margin-bottom: 12px;
  margin-left: 5px;
  margin-right: 5px;

  /* border-bottom-color: #3c3d52; */
  background-color: #1f1d2e;
}

#workspaces button {
  padding: 0 5px;
  font-size: 27px;
  color: #e0def4;
  /* color: #a7a4c3; */
}

#workspaces button.active {
  color: #eb6f92;
  /* color: #93778c; */
}
#clock,
#custom-launcher,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-expand,
#custom-cycle_wall,
#custom-ss,
#custom-music,
#workspaces,
#custom-playerctl {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom-width: 3px;
}

#custom-launcher {
  font-size: 27px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
  margin-bottom: 12px;
  margin-left: 5px;
  margin-right: 5px;

  /* border-bottom-color: #3c3d52; */
  background-color: #1f1d2e;
}

#custom-ss {
}

#clock {
}

#battery.charging,
#battery.plugged {
}

#battery {
}

#battery.critical:not(.charging) {
}

#memory {
}

#backlight {
}

#network {
}

#network.disabled {
}

#network.disconnected {
}

#network.linked,
#network.wifi {
}

#network.ethernet {
}

#pulseaudio {
}

#pulseaudio.muted {
}
#temperature {
}

#temperature.critical {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}

#custom-playerctl {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}
